/* Set background color and font color */
body {
    font-family: Arial, sans-serif;
    background-color: #172e3c;
    color: #f4f0e1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 55px;
    margin-bottom: 5px;
    margin-top: 0rem;
}

h2 {
    margin-top: 0rem;
    font-size: 46px;
    margin-bottom: 1.75rem;
}

p {
    font-size: 25px;
    margin-top: 0rem; 
    margin-bottom: 1rem;
}

/* Style the top bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f4f0e1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.top-bar-links {
    display: inline-block;
    font-size: 20px;
}

.top-bar a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 7rem; /* Adjust the left and right margin values */
}

.top-bar a:hover {
    text-decoration: underline;
}

.links {
    margin-bottom: 0.1rem;
    margin-top: 1.5rem;
    font-size: 22px;
}

.links a {
    color: #333 !important;
    background-color: #f4f0e1; /* Add a background color */
    padding: 8px 16px; /* Add padding around the text */
    border-radius: 4px; /* Add slightly rounded corners */
    transition: background-color 0.3s ease; /* Add a smooth transition for the background color change on hover */
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    color: #f4f0e1;
    font-weight: bold;
    text-shadow: -2px 2px 0px 0px #db7836;
    box-shadow: -4px 4px 0px 0px #db7836;
}

.links a:hover {
    text-decoration: underline;
}

.links_symbols a {
    color: #f4f0e1 !important;
    font-size: 35px;
    margin: 0 0.75rem;
    margin-top: 2rem; 
    margin-bottom: 0rem;
    margin-right: 8px;
}

.fa-linkedin{text-shadow:-2px 2px #db7836}

.fa-envelope{text-shadow:-2px 2px #db7836}

.fa-github{text-shadow:-2px 2px #db7836}

.links_symbols span {
    position: relative;
    top: -0.5rem; /* Adjust the negative value as needed */
}

.links_symbols .cv-link {
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    width: 32px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background-color: #f4f0e1;
    border-radius: 4px; /* Add slightly rounded corners */
    font-size: 16px; /* Adjust the font size as needed */
    color: #333 !important; /* Adjust the text color as needed */
    text-decoration: none;
    box-shadow: -2px 2px 0px 0px #db7836;
}

.links a:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
}

.in-text-link {
    color: #db7836;
    text-decoration: none;
}

.in-text-link:hover {
    text-decoration: underline;
}

/* Center and style the container */
.container {
    min-height: 100vh;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    height: calc(100vh - 50px); /* Subtract the height of the top bar */
    box-sizing: border-box; /* Include padding in the height calculation */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content within the container */
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center the children horizontally */
}

.home-content {
    width: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6rem;
    margin-left: -20%;
}
  
.profile-image {
    width: 270px;
    height: 270px;
    border-radius: 80%;
    object-fit: cover;
    box-shadow: -5px 5px 0px 0px #db7836;
}

/* Style the introductory section */
.intro {
    float: left;
    margin-top: 4rem;
}

.intro h1 {
    font-size: 28px;
    margin-bottom: 0.5rem;
}

.intro p {
    font-size: 25px;
    margin: 0.5rem 0;
}

#about-me p {
    display: block;
    text-align: justify;
    font-size: 23px;
  }

.projects-grid {
    width: 120%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-left: -10%;
   
}

.project-panel {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 1rem;
    color: #f4f0e1;
    text-align: left;
    box-shadow: -5px 5px 0px 0px #db7836;
    margin-bottom: 1.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.project-panel a {
    font-weight: bold;
    text-decoration: none;
    color: #f4f0e1;
    font-size: 22px;
}

.project-panel a:hover {
    text-decoration: underline;
}

.project-panel p {
    margin: 0.5rem 0 0;
    font-size: 16px;
    color: #f4f0e1;
}

/* Clear floats */
.container::after {
    content: "";
    display: table;
    clear: both;
}



/* Styles for screens with a width below 900px */
@media only screen and (max-width: 900px) {
    /* Adjust font sizes */
    h1 {
    font-size: 34px;
    margin-top: 0rem;
    }

    h2 {
    font-size: 26px;
    margin-bottom: 1rem;
    margin-top: 0rem;
    }

    p {
    font-size: 16px;
    margin-bottom: 0.75rem;
    }

    .top-bar-links {
    font-size: 15px;
    }

    .top-bar a {
        margin: 1rem 1rem;
    }

    .home-content {
        width: 140%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 2rem;
        margin-left: -20%;
        margin-top: 3rem;
    }

    .links {
    font-size: 14px;
    }

    .intro {
        margin-top: 2rem;
    }

    #about-me p {
    font-size: 16px;
    }
    .project-panel a {
    font-size: 20px;
    }
    .project-panel p {
    font-size: 14px;
    }
    
    /* Adjust container and grid layout */
    .container {
    max-width: 100%;
    height: auto;
    max-height: auto;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }
    
    .home-content {
    width: 100%;
    margin-left: 0;
    }

    .projects-grid {
    width: 100%;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    }

    .project-panel {
    margin-left: 0;
    margin-right: 0;
    }
    
    /* Adjust top bar */
    .top-bar {
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    section {
        min-height: 100vh;
        max-height: auto;
        overflow: visible;
    }

}

    
