/* Set background color and gradient */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #b0d7f9, #cfd2d6);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Center and style the container */
.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Style the profile image */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Style the introductory sentence */
p {
    font-size: 24px;
    margin: 1rem 0;
}

/* Style the links */
.links a {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

/* Add styles for the project list */
.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 1.5rem;
}

.project-list a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 22px;
}

.project-list a:hover {
    text-decoration: underline;
}

/* Add styles for project descriptions */
.project-list p {
    margin: 0.5rem 0 0;
    font-size: 16px;
    color: #666;
    width: 70%;
    margin-left: 15%;
}

/* Add a new class for the home link on the projects page */
.projects-home-link-container {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}





